defaults
    mode http
    timeout client 300s
    timeout server 300s
    timeout connect 3s
    timeout server-fin 2s
    timeout http-request 5s 
    log stdout format raw local0
    log-format "%ci:%cp a:%f/%b/%s t:%Tq/%Tt %{+Q}r %ST b:%B C:%ac,%fc,%bc,%sc Q:%sq/%bq"

frontend http
    bind *:8080
    #bind :8443 ssl crt /ssl_key.pem

    acl ogmios hdr(HostResolver) -i "ogmios/$NETWORK"
    use_backend ogmios_backend if ogmios

    acl kubo hdr(HostResolver) -i "kubo/$NETWORK"
    use_backend kubo_backend if kubo

    acl nftcdn-server hdr(HostResolver) -i "nftcdn-server/$NETWORK"
    use_backend nftcdn-server_backend if nftcdn-server

backend ogmios_backend
    server local cardano-node-ogmios:$OGMIOS_PORT

backend kubo_backend
    server local kubo:$KUBO_PORT

backend nftcdn-server_backend
    server local nftcdn-server:$NFTCDN_SERVER_PORT