defaults
    mode http
    timeout client 30s
    timeout server 10m
    timeout connect 3s
    timeout server-fin 2s
    timeout http-request 5s 
    log stdout format raw local0
    log-format "%ci:%cp a:%f/%b/%s t:%Tq/%Tt %{+Q}r %ST b:%B C:%ac,%fc,%bc,%sc Q:%sq/%bq"

frontend http
    bind *:8080
    bind :8443 ssl crt /ssl_key.pem

    acl jwt_bearer hdr(BearerResolver) -i "$JWT_BEARER_TOKEN"

    acl ogmios hdr(HostResolver) -i "ogmios/$NETWORK"
    use_backend ogmios_backend if ogmios jwt_bearer

    acl kubo hdr(HostResolver) -i "kubo/$NETWORK"
    use_backend kubo_backend if kubo jwt_bearer

    acl nftcdn-server hdr(HostResolver) -i "nftcdn-server/$NETWORK"
    use_backend nftcdn-server_backend if nftcdn-server jwt_bearer

backend ogmios_backend
    server local cardano-node-ogmios:1337

backend kubo_backend
    server local kubo:8080

backend nftcdn-server_backend
    server local nftcdn-server:4700
