services:
  nftcdn-server-preprod:
    profiles: ["preprod"]
    build:
      context: .
      target: nftcdn-server
    env_file: ./.env
    environment:
      - NETWORK=preprod
    volumes:
      - cache-preprod:/home/node/app/cache
    ports:
      - 127.0.0.1:4701:4700
    depends_on:
      - kubo
    restart: on-failure
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"

volumes:
  cache-preprod:
