services:
  nftcdn-mainnet:
    profiles: ["mainnet"]
    build:
      context: .
      target: nftcdn-server
    env_file: ./.env
    environment:
      - NETWORK=mainnet
    volumes:
      - cache-mainnet:/home/node/app/cache
    ports:
      - 127.0.0.1:4700:4700
    depends_on:
      - kubo
    restart: on-failure
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"

volumes:
  cache-mainnet:
